


/* Header ================ */
.parent {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: left;
  margin-bottom: -30px;
}

.children {
  display: flex;
}

.child {
  margin: 0 5px;
  padding: 0 5px;
  font-size: 30px;
}

/* Forms de Registro ============= */

.register{
  margin-right: 50px;
}

.register-nome{
  margin-right: 84px;
}

.register-ramal{
  margin-right: 81px;
}

.input-data{
  width: 200px;
}

.novo-registro{
  margin-left: 81%;
}